<button
  id="back-to-top"
  class="hidden fixed bottom-5 z-50 right-5 cursor-pointer bg-yellow-300 text-white p-2 rounded-full shadow-lg transition-all duration-300 hover:bg-yellow-400 hover:translate-y-0.5 focus:outline-none focus:ring-2 focus:ring-yellow-400 focus:ring-offset-2"
  aria-label="Back to top"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    height="24px"
    viewBox="0 -960 960 960"
    width="24px"
    fill="#FFFFFF"
    ><path
      d="M440-240v-368L296-464l-56-56 240-240 240 240-56 56-144-144v368h-80Z"
    ></path></svg
  >
</button>

<script>
  // Script ini hanya jalan di client
  if (typeof window !== "undefined") {
    const btn = document.getElementById("back-to-top");

    const handleScroll = () => {
      if (!btn) return;
      if (window.scrollY > 200) {
        btn.classList.remove("hidden");
        btn.classList.add("flex", "items-center", "justify-center");
      } else {
        btn.classList.add("hidden");
        btn.classList.remove("flex", "items-center", "justify-center");
      }
    };

    const scrollToTop = () => {
      window.scrollTo({ top: 0, behavior: "smooth" });
    };

    window.addEventListener("scroll", handleScroll);
    btn?.addEventListener("click", scrollToTop);
  }
</script>
