---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="About · Jayapura JavaScript User Group"
  description="Information about the Jayapura JavaScript Community. Learn about our mission and goals, and find out what makes us different as an independent community. Discover how we provide a collaborative space for JavaScript users in the Jayapura region."
>
  <main class="mx-auto max-w-screen-xl">
    <!-- Hero Section -->
    <div class="relative overflow-hidden">
      <div class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
        <div class="mx-auto max-w-2xl text-center mb-10">
          <h1
            class="block text-4xl font-bold text-gray-800 md:text-5xl lg:text-6xl"
          >
            About <span
              class="bg-gradient-to-tl from-amber-400 to-yellow-500 bg-clip-text text-transparent"
              >Us</span
            >
          </h1>
          <p class="mt-3 text-lg text-gray-600">
            Learn about our mission and goals, and find out what makes us
            different as an independent community.
          </p>
        </div>
      </div>
    </div>
    <!-- End Hero Section -->

    <div class="max-w-4xl px-4 pb-10 sm:px-6 lg:px-8 mx-auto">
      <div class="space-y-5 lg:space-y-8 mb-16">
        <div class="space-y-3 text-lg">
          <p class="text-gray-800">
            Welcome to the Jayapura JavaScript Community Website! We are an
            independent community with a simple goal: to be a gathering place
            for all JavaScript users in the Jayapura region. Whether you're an
            experienced developer, a beginner wanting to learn, or just curious
            about JavaScript, you are welcome to join us.
          </p>
          <p class="text-gray-800">
            At Jayapura JavaScript Community, we believe that collaboration is
            the key to success. We aim to create an environment that supports
            the exchange of ideas, skill enhancement, and opportunities to
            contribute to technological development in Papua. So whether you
            prefer discussions about <em>frameworks</em>, <em>libraries</em>, or
            even have encountered a <em>bug</em> you're facing while using JavaScript,
            feel free to ask.
          </p>
          <p class="text-gray-800">
            So, come on, attend the events we organize, contribute to existing
            <em>open source</em> projects, and meet all other JavaScript users in
            Jayapura. Don't hesitate to ask questions, share, or just relax with
            us. We'd be delighted if you'd like to join us and get to know us while
            building a better JavaScript community in Jayapura!
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>
