---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="About · Jayapura JavaScript User Group"
    description="Discover our JavaScript Community Jayapura's About Page. Get acquainted with our mission and purpose, and find out what sets us apart as an independent community. Learn how we provide a collaborative space for JavaScript enthusiasts in the Jayapura region."
>
    <main class="mx-auto max-w-screen-xl">
        <div class="max-w-4xl px-4 pt-10 sm:px-6 lg:px-8 mx-auto">
            <div class="space-y-5 lg:space-y-8 mb-16">
                <div class="space-y-3 font-onest">
                    <p class="text-gray-800">
                        Welcome to the Jayapura JavaScript Community Page! We
                        are an independent community with a simple goal: to be a
                        gathering place for all JavaScript enthusiasts in the
                        Jayapura region. Whether you are an experienced
                        developer, a beginner eager to learn, or just curious
                        about JavaScript, you are welcome to join us.
                    </p>
                    <p class="text-gray-800">
                        In the Jayapura JavaScript Community, we believe that
                        collaboration is the key to success. We aim to create an
                        environment that supports the exchange of ideas, skill
                        improvement, and opportunities to contribute to the
                        JavaScript ecosystem. Whether you prefer discussing
                        frameworks, libraries, or even the challenges you face
                        when using JavaScript, we want to hear your stories.
                    </p>
                    <p class="text-gray-800">
                        Join us on your JavaScript journey. Attend our events,
                        participate in collaborative projects, and meet fellow
                        JavaScript users in Jayapura. Don't hesitate to ask
                        questions, share, or simply relax with us. We are
                        excited to get to know you and build a stronger
                        JavaScript community in Jayapura!
                    </p>
                </div>
            </div>
        </div>
    </main>
</Layout>
