---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Acara · Jayapura JavaScript User Group"
    description="Temukan acara-acara terbaru dan seru di Jayapura yang diadakan oleh Komunitas Jayapura JavaScript. Pantau trus kabar tentang workshop, meetup, dan konferensi yang berkaitan dengan JavaScript dan ekosistemnya."
>
    <main class="mx-auto max-w-screen-xl">
        <!-- Card Blog -->
        <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
            <!-- Title -->
            <div
                class="max-w-2xl mx-auto text-center font-onest mb-10 lg:mb-14"
            >
                <h2 class="text-2xl font-bold md:text-4xl md:leading-tight">
                    Workshop dan Meetups
                </h2>
                <p class="mt-1 text-gray-600">Here are our recent events</p>
            </div>
            <!-- End Title -->

            <!-- Card -->
            <div class="text-center">
                <div
                    class="inline-block bg-white border rounded-full"
                >
                    <div class="py-3 px-4 flex items-center gap-x-2">
                        <p class="text-gray-600">
                            Currently, no events are available. Stay tuned for
                            future events.
                            Sekarang, trada acara. Tunggu saja informasi kedepannya.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Card -->
        </div>
        <!-- End Card Blog -->
    </main>
</Layout>
