---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Code of Conduct · Jayapura JavaScript User Group"
    description="Explore our JavaScript Community Jayapura's Code of Conduct. Learn about our guidelines for respectful, inclusive, and cooperative interactions. Find out how we maintain a welcoming environment for all members."
>
    <main class="mx-auto max-w-screen-xl">
        <div class="max-w-4xl px-4 pt-10 sm:px-6 lg:px-8 mx-auto">
            <div class="space-y-5 lg:space-y-8 mb-16">
                <div class="space-y-3 font-rubik">
                    <h3 class="text-lg lg:text-xl font-semibold">
                        JayapuraJS - Code of Conduct
                    </h3>

                    <ol
                        class="space-y-4 text-gray-800 list-decimal list-inside"
                    >
                        <li>
                            <span class="font-semibold text-gray-700"
                                >Be Respectful:
                            </span> Treat every member of the community with
                            respect, kindness, and empathy. We may have
                            different backgrounds and experiences, but in this
                            community, we are all equals.
                        </li>
                        <li>
                            <span class="font-semibold text-gray-700"
                                >Inclusive Environment:
                            </span> Ensure that our community is welcoming to
                            everyone, regardless of age, gender, sexual
                            orientation, race, ethnicity, religion, or technical
                            ability. Discrimination and harassment will not be
                            tolerated.
                        </li>
                        <li>
                            <span class="font-semibold text-gray-700"
                                >Help and Share:
                            </span> Encourage a spirit of cooperation and
                            knowledge sharing. We all started somewhere, so be
                            open to helping and sharing your expertise with
                            others.
                        </li>
                        <li>
                            <span class="font-semibold text-gray-700"
                                >Constructive Discussions:
                            </span> We encourage lively discussions, but please
                            keep them constructive. Critique ideas, not people.
                            Avoid personal attacks, insults, and offensive
                            language.
                        </li>
                        <li>
                            <span class="font-semibold text-gray-700"
                                >Respect Privacy:
                            </span> Respect the privacy of fellow members. Do
                            not share personal or confidential information
                            without explicit consent.
                        </li>
                        <li>
                            <span class="font-semibold text-gray-700"
                                >Keep It Legal:
                            </span> Do not engage in or promote any illegal
                            activities within the community. This includes
                            sharing copyrighted material without permission or
                            violating any applicable laws.
                        </li>
                        <li>
                            <span class="font-semibold text-gray-700"
                                >No Spam or Self-Promotion:
                            </span> Refrain from spamming the community with
                            unrelated content or excessive self-promotion. If
                            you want to share your work, make sure it's relevant
                            and not overwhelming.
                        </li>
                        <li>
                            <span class="font-semibold text-gray-700"
                                >Moderation and Reporting:
                            </span> If you encounter behavior that violates this
                            code of conduct, please report it to the community
                            moderators. We are committed to maintaining a safe
                            and respectful environment.
                        </li>
                        <li>
                            <span class="font-semibold text-gray-700"
                                >Consequences:
                            </span> Violations of this code of conduct may
                            result in warnings, temporary suspension, or
                            permanent removal from the community, depending on
                            the severity and frequency of the violations.
                        </li>
                    </ol>
                </div>
                <div class="space-y-3 font-inter">
                    <p class="text-gray-800">
                        By participating in the JavaScript Community Jayapura,
                        you agree to abide by this code of conduct. We are all
                        here to learn, grow, and collaborate, and we appreciate
                        your contributions in making this community a positive
                        and inclusive space.
                    </p>
                </div>
            </div>
        </div>
    </main>
</Layout>
