---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Home · Jayapura JavaScript User Group"
	description="Come and connect with fellow developers passionate about JavaScript and its ecosystem in Jayapura. Be a part of our community and stay updated on upcoming events."
>
	<main class="mx-auto max-w-screen-xl">
		<!-- Hero -->
		<div
			class="relative overflow-hidden before:absolute before:left-1/2 before:top-0 before:-z-[1] before:h-full before:w-full before:-translate-x-1/2 before:transform before:bg-[url('./polygon.svg')] before:bg-cover before:bg-top before:bg-no-repeat"
		>
			<div class="mx-auto max-w-[85rem] px-4 pb-10 pt-16 sm:px-6 lg:px-8">
				<!-- Icon Hero -->
				<div class="flex justify-center">
					<a href="/" class="sm:mx-auto" aria-label="Logo">
						<div
							class="bg-amber-100/60 flex items-center justify-center rounded-full"
						>
							<img src="./logo-transparent.svg" class="h-12 w-12" alt="Logo JayapuraJS">
						</div>
					</a>
				</div>
				<!-- End Icon Hero -->

				<!-- Title -->
				<div class="mx-auto mt-5 max-w-2xl text-center">
					<h1
						class="font-rubik block text-4xl font-bold text-gray-800 md:text-5xl lg:text-6xl"
					>
						Jayapura
						<span
							class="bg-gradient-to-tl from-amber-400 to-yellow-500 bg-clip-text text-transparent"
							>JavaScript</span
						>
						<br />
						 User Group
					</h1>
				</div>
				<!-- End Title -->

				<div class="mx-auto mt-5 max-w-3xl text-center">
					<p class="font-rubik text-lg text-gray-600">
						Come and connect with fellow developers passionate about
						JavaScript and its ecosystem in Jayapura. Be a part of
						our community and stay updated on upcoming events.
					</p>
				</div>

				<!-- Buttons -->
				<div
					class="mt-8 grid w-full gap-3 sm:inline-flex sm:justify-center"
				>
					<a
						class="font-rubik inline-flex items-center justify-center gap-x-3.5 rounded-md border bg-indigo-500 px-4 py-2 text-center text-sm font-medium text-white shadow-sm transition hover:border-gray-300 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-white lg:text-base"
						href="https://discord.gg/pYUNzVvN"
						target="_blank"
					>Join to Discord</a>
				</div>
				<!-- End Buttons -->
			</div>
		</div>
		<!-- End Hero -->
	</main>
</Layout>
