---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Tentang · Jayapura JavaScript User Group"
    description="Informasi tentang Komunitas Jayapura JavaScript. Kenali tong misi dan tujuan, dan cari tahu apa yang bikin kitong beda sebagai komunitas independen. Pelajari bagaimana kitong menyediakan ruang kolaboratif bagi para pengguna JavaScript di wilayah Jayapura."
>
    <main class="mx-auto max-w-screen-xl">
        <div class="max-w-4xl px-4 pt-10 sm:px-6 lg:px-8 mx-auto">
            <div class="space-y-5 lg:space-y-8 mb-16">
                <div class="space-y-3 text-lg font-onest">
                    <p class="text-gray-800">
                        Selamat datang di Website Komunitas Jayapura JavaScript! 
                        Kitong adalah komunitas independen dengan tujuan sederhana: menjadi tempat berkumpul bagi semua pengguna JavaScript di
                        wilayah Jayapura. Kalo kamorang pengembang berpengalaman,
                        pemula yang ingin belajar, atau cuma penasaran
                        tentang JavaScript, kam dipersilakan untuk bergabung deng kitong.
                    </p>
                    <p class="text-gray-800">
                        Di Komunitas Jayapura JavaScript, kitong percaya bahwa
                        kolaborasi adalah kunci sukses. Kitong bertujuan untuk menciptakan
                        lingkungan yang mendukung pertukaran ide, peningkatan keterampilan,
                        dan peluang untuk berkontribusi pada perkembangan teknologi di Tanah Papua. 
                        Jadi kalo kam lebih suka diskusi tentang <em>framework</em>, <em>library</em>, atau bahkan ada temukan <em>bug</em> yang kam hadapi
                        saat menggunakan JavaScript, kam bisa tanya saja.
                    </p>
                    <p class="text-gray-800">
                        Jadi, mari sudah, Hadiri acara-acara yang tong bikin,
                        kontribusi ke proyek <em>open source</em> yang ada, dan temui semua pengguna JavaScript lainnya di Jayapura. 
                        Jangan ragu untuk bertanya, berbagi, atau sekadar bersantai dengan kitong. Tong
                        senang sekali kalo kam mau bergabung dan kenalan dengan tong dan membangun komunitas JavaScript yang lebih baik di Jayapura!
                    </p>
                </div>
            </div>
        </div>
    </main>
</Layout>
