<header
    x-data="{ userDropdownOpen: false, mobileNavOpen: false }"
    id="page-header"
    class="items-center z-1"
>
    <div class="max-w-screen-xl mx-auto border-b border-gray-200">
        <div class="flex justify-between px-4 py-4">
            <div class="flex items-center">
                <!-- Logo -->
                <a
                    href="/"
                    class="group inline-flex lg:hidden items-center space-x-2 font-bold text-lg tracking-wide font-rubik text-gray-900 hover:text-gray-600 dark:text-gray-100 dark:hover:text-gray-300"
                >
                    <span>JayapuraJS</span>
                </a>
                <!-- END Logo -->
                <nav class="hidden lg:flex items-center space-x-2">
                    <a
                        href="/"
                        class="group font-rubik flex items-center space-x-2 px-3 py-1 rounded-lg text-gray-800 border border-transparent hover:text-blue-600 hover:bg-blue-50 active:border-blue-100"
                    >
                        <span>Home</span>
                    </a>
                    <a
                        href="#"
                        class="group font-rubik flex items-center space-x-2 px-3 py-1 rounded-lg text-gray-800 border border-transparent hover:text-blue-600 hover:bg-blue-50 active:border-blue-100"
                    >
                        <span>Events</span>
                    </a>
                    <a
                        href="#"
                        class="group font-rubik flex items-center space-x-2 px-3 py-1 rounded-lg text-gray-800 border border-transparent hover:text-blue-600 hover:bg-blue-50 active:border-blue-100"
                    >
                        <span>Code of Conduct</span>
                    </a>
                </nav>
            </div>

            <!-- Right Section -->
            <div class="flex items-center space-x-2 lg:space-x-5">
                <!-- Desktop Navigation -->
                <nav class="hidden lg:flex items-center space-x-2">
                    <span class="text-gray-500 font-rubik"
                        >hello@jayapurajs.org</span
                    >
                </nav>
                <!-- END Desktop Navigation -->

                <!-- Toggle Mobile Navigation -->
                <div class="lg:hidden">
                    <button
                        x-on:click="mobileNavOpen = !mobileNavOpen"
                        type="button"
                        class="inline-flex justify-center items-center space-x-2 border font-semibold rounded-lg px-3 py-2 leading-5 text-sm border-gray-200 bg-white text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300 focus:ring-opacity-25 active:border-gray-200 active:shadow-none"
                    >
                        <svg
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                            class="hi-solid hi-menu inline-block w-5 h-5"
                            ><path
                                fill-rule="evenodd"
                                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                clip-rule="evenodd"></path></svg
                        >
                    </button>
                </div>
                <!-- END Toggle Mobile Navigation -->
            </div>
            <!-- END Right Section -->
        </div>

        <!-- Mobile Navigation -->
        <div x-cloak x-show="mobileNavOpen" class="lg:hidden">
            <nav class="flex flex-col space-y-2 py-4 border-t">
                <a
                    href="/"
                    class="group text-sm font-semibold flex items-center space-x-2 px-3 py-2 rounded-lg text-blue-600 border border-blue-50 bg-blue-50"
                >
                    <span>Home</span>
                </a>
                <a
                    href="#"
                    class="group text-sm font-medium flex items-center space-x-2 px-3 py-2 rounded-lg text-gray-800 border border-transparent hover:text-blue-600 hover:bg-blue-50 active:border-blue-100"
                >
                    <span>Events</span>
                </a>
                <a
                    href="#"
                    class="group text-sm font-medium flex items-center space-x-2 px-3 py-2 rounded-lg text-gray-800 border border-transparent hover:text-blue-600 hover:bg-blue-50 active:border-blue-100"
                >
                    <span>Code of Conduct</span>
                </a>
            </nav>
        </div>
        <!-- END Mobile Navigation -->
    </div>
</header>
