---
import '@fontsource-variable/inter';
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Navbar.astro";
import BackToTop from "../service/BackToTop.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />

    <script is:inline>
      const userPreference = localStorage.getItem("theme");
      const systemPrefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;

      if (userPreference === "dark" || (!userPreference && systemPrefersDark)) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>
  <body class="font-inter min-h-screen bg-white text-gray-900 ">
    <Header />
    <slot />
    <BackToTop />
    <Footer />
  </body>
</html>
